includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 8
    paths:
        - src
    ignoreErrors:
        -
            message: '#Trait .* is used zero times and is not analysed#'
        -
            message: '#generic class Illuminate\\Database\\Eloquent\\Builder#'